* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #1b96ca;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background-color:#8DCBE6;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

form:hover {
	transform: scale(1.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.input-field {
	position: relative;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px 30px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	box-shadow: 0 0 5px #3f51b5;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}

